[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
tutorial="python entrypoint.py"
tests="python fhirTest.py"
nlptest="python nlptest.py"


[packages]
anyio = "*"
appdirs = "*"
certifi = "*"
cffi = "*"
chardet = "*"
cryptography = "*"
distlib = "*"
dnspython = "*"
docutils = "*"
email-validator = "*"
enum21 = "*"
fastapi = "*"
"fhir.resources" = "*"
filelock = "*"
flask = "*"
flask_session = "*"
flask_wtf = "*"
flask_cli = "*"
greenlet = "*"
h11 = "*"
httpcore = "*"
httpx = "*"
ibm-whcs-sdk = "*"
idna = "*"
inflect = "*"
Kivy = "*"
Kivy-examples = "*"
Kivy-Garden = "*"
mypy = "*"
pycparser = "*"
pydantic = "*"
Pygments = "*"
PyMySQL = "*"
python-dateutil = "*"
requests = "*"
rfc3986 = "*"
six = "*"
sniffio = "*"
sqlacodegen = "*"
SQLAlchemy = "*"
sqlalchemy-admin = "*"
sqlalchemy-basemodel = "*"
SQLAlchemyTypes = "*"
typing-extensions = "*"
urllib3 = "*"
uvicorn = "*"
validation21 = "*"
ibm-whcs-sdk = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
flake8 = "*"
pre-commit = "*"

[pipenv]
allow_prereleases = true
