anyio==3.2.0
appdirs==1.4.4
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
distlib==0.3.2
dnspython==2.1.0
docutils==0.17.1
email-validator==1.1.3
enum21==0.2.0
fhir.resources==6.1.0
filelock==3.0.12
greenlet==1.1.0
h11==0.12.0
httpcore==0.13.6
httpx==0.18.2
ibm-cloud-sdk-core==2.0.5
ibm-whcs-sdk==1.10.3
idna==2.10
inflect==5.3.0
Kivy==2.0.0
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
pipenv==2021.5.29
pycparser==2.20
pydantic==1.8.2
Pygments==2.9.0
PyJWT==1.7.1
PyMySQL==1.0.2
python-dateutil==2.8.1
requests==2.25.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
sqlacodegen==2.3.0
SQLAlchemy==1.4.18
sqlalchemy-admin==0.1.2
sqlalchemy-basemodel==0.1.1
SQLAlchemyTypes==0.2.3
typing-extensions==3.10.0.0
urllib3==1.26.5
validation21==0.2.7
virtualenv==20.4.7
virtualenv-clone==0.5.4
