[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
tutorial="python client_tutorial/EntryPoint.py"
tests="python client_tutorial/fhirTest.py"
flask="flask run"
nlptest="python client_tutorial/nlptest.py"

[packages]
asyncio = "*"
httpx = "*"
ibm-cloud-sdk-core = "==2.0.5"
ibm-whcs-sdk = "==1.10.3"
kivy = "*"
pydantic = "*"
sqlalchemy = "*"
flask-session = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
mypy = "*"
pymysql = "*"
python-dotenv = "*"

[dev-packages]
