[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
tutorial="python client_tutorial/EntryPoint.py"
tests="python client_tutorial/fhirTest.py"
flask="flask run"

[packages]
anyio = "*"
appdirs = "*"
certifi = "*"
cffi = "*"
chardet = "*"
cryptography = "*"
distlib = "*"
dnspython = "*"
docutils = "*"
email-validator = "*"
enum21 = "*"
"fhir.resources" = "*"
fhir = {resources = "*"}
filelock  = "*"
greenlet = "*"
h11 = "*"
httpcore = "*"
httpx = "*"
idna = "*"
inflect = "*"
Kivy = "*"
Kivy-examples = "*"
Kivy-Garden = "*"
pipenv = "*"
pycparser = "*"
pydantic = "*"
Pygments = "*"
PyJWT = "*"
PyMySQL = "*"
python-dateutil = "*"
requests = "*"
rfc3986 = "*"
six = "*"
sniffio = "*"
sqlacodegen = "*"
SQLAlchemy = "*"
sqlalchemy-admin = "*"
sqlalchemy-basemodel = "*"
SQLAlchemyTypes = "*"
typing-extensions = "*"
urllib3 = "*"
validation21 = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-session = "*"
mypy = "*"

[dev-packages]
