{% extends "dark_layout.html" %}

{% block content %}

<script>
$('#payerselect').on('change', function()
{
    value= this.value;
    console.log(value)
  });

$('#payer-form-button').click(function(event) {
    // Prevent redirection with AJAX for payer form
    var form = $('#payer-form');
    var form_id = 'payer-form';
    var url = form.prop('action');
    var type = form.prop('method');
    var formData = getPayerFormData(form_id);

    // submit form via AJAX
    send_form(form, form_id, url, type, modular_ajax, formData);
};

function getPayerFormData(form) {
    // creates a FormData object and adds chips text
    var formData = new FormData(document.getElementById(form));
//    for (var [key, value] of formData.entries()) { console.log('formData', key, value);}
    console.log(formData)
    return formData
}

function jqAlert(outputMsg, titleMsg, onCloseCallback) {
    if (!titleMsg)
        titleMsg = 'Alert';

    if (!outputMsg)
        outputMsg = 'No Message to Display.';

    $("<div></div>").html(outputMsg).dialog({
        title: titleMsg,
        resizable: false,
        modal: true,
        buttons: {
            "OK": onCloseCallback,
            "Cancel": function() {
          $( this ).dialog( "destroy" );
            }

        },
    });

</script>
<!--
  ~ Copyright (c) 2021 IBM Corporation
  ~ Henry Feldman, MD (CMO Development, IBM Watson Health)
  -->

<!-- Breadcrumb-->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">
                <a href="#">Payer</a>
            </li>
            <li class="breadcrumb-item active">Selection</li>
            <!-- Breadcrumb Menu-->
        </ol>
    </nav>
    {{ endpoint }}
    <div class="row">
        <form action="/payer" id="payer-form" method="POST" enctype="text/plain">
            <legend>Select payer to view</legend>
            <div class="form-floating">
                <div class="row">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">Payer Name</span>
                        <select class="form-select" aria-label="Select Payer to become" id="payerselect">
                            <option selected value="">Use this to select the payer to view</option>
                            {% for payer in payerNames %}
                            <option value="{{ payer }}">{{ payer }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button type="submit" class="btn btn-primary float-end" id="payer-form-button">Submit</button>
                </form>
            </div>
</div>
</div>
</div>

{% endblock %}
